name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy-s3:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Sync to S3
      run: |
        # Syncs the contents of the frontend folder to the root of the bucket
        aws s3 sync . s3://${{ secrets.S3_BUCKET_NAME }} --delete

    - name: Setup Node.js
      # Set up the Node environment needed to run npm commands
      uses: actions/setup-node@v3
      with:
        node-version: '18' # Use a stable Node version

    - name: Install Amplify CLI
      # Install the CLI using npm
      run: npm install -g @aws-amplify/cli

    - name: Start Amplify Deployment
      # This command should now be recognized
      run: amplify publish --app-id ${{ secrets.AMPLIFY_APP_ID }} --env ${{ secrets.AMPLIFY_BRANCH_NAME }} --yes